* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}

.u-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.u-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

button {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    width: 250px;
    height: 50px;
    background: none;
    border-radius: 20px;
    border-width: 12px;
    border: 1px solid #009CDF;
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

a {
    text-decoration: none;
    color: white;
}

.d-f {
    display: flex;
}

.s-b {
    justify-content: space-between
}

.a-i_c {
    align-items: center;
}

.f-d_c {
    flex-direction: column;
}

.j-c_c {
    justify-content: center;
}

.f-w {
    flex-wrap: wrap;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: black;
    padding: 0 calc((100% - 1330px) / 2);
}

.header-top {
    padding: 16px 0;
    border-bottom: 1px solid white;
}

.block-social {
    gap: 1.2em;
}

.header-top>p {
    font-size: 15px;
}

.header-top>a>button {
    font-size: 18px;
    width: 9.5em;
    height: 2.5em;
}

.header-bottom {
    /* max-width: 1330px; */
    gap: 4em;
    padding: 37px 0;
}

.burger-menu {
    display: none;
    /* Скрываем бургер-меню по умолчанию */
    cursor: pointer;
}

.line {
    width: 19px;
    /* Ширина полосок */
    height: 1.6px;
    /* Высота полосок */
    background-color: #009CDF;
    /* Цвет полосок */
    margin: 2.8px 0;
    /* Отступ между полосками */
    transition: all 0.3s ease;
    /* Плавный переход для анимации */
}

/* Выпадающее меню */
.dropdown-menu {
    display: none;
    /* Скрываем выпадающее меню по умолчанию */
    flex-direction: column;
    background-color: black;
    position: absolute;
    /* Позиционируем меню над другими элементами */
    top: 75%;
    /* Сразу под шапкой */
    right: 0;
    /* Занимает правую сторону */
    border: 1px solid white;
    width: 150px;
    height: 205px;
    margin: 0 calc((100% - 350px) / 2);
    padding: 28px 30px;
}

.dropdown-contact {
    gap: 16px;
    font-size: 15px;
}

.dropdown-links {
    gap: 14px;
}

.dropdown-links a {
    font-size: 15px;
}

.header-top>input {
    display: none;
}


.container {
    padding: 0 calc((100% - 1600px) / 2);
}

.welcome {
    background-image: url('/img/background-welcome.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 773px;
}

.welcome>div>h1 {
    max-width: 655px;
    background: linear-gradient(to bottom, #025D85 0%, #009CDF 100%);
    /* Линейный градиент */
    -webkit-text-fill-color: transparent;
    /* Прозрачный цвет текста для WebKit-браузеров */
    background-clip: text;
    /* Обрезка фона по тексту для других браузеров */
}

.welcome>div>p {
    max-width: 520px;
    font-size: 18px;
    margin: 32px 0 66px 0px;
}

.wedding-planning {
    margin-top: 164px;
}

.wedding-planning-inside {
    background-image: url('img/background-wedding-planning.png');
    width: 100%;
    height: 611px;
    background-repeat: no-repeat;
    /* Не повторять изображение */
    background-size: contain;
    /* Изображение полностью помещается в блок */
}

.wedding-planning-inside__container {
    padding: 95px 0px 0px 136px;
}

.wedding-planning-inside__container>p {
    font-size: 24px;
    margin-top: 37px;
    max-width: 653px;
    margin-bottom: 56px;

}

.wedding-planning-inside__container>h1 {
    width: 387px;
}

.wedding-planning-buttons {
    gap: 54px;
}

.wedding-planning-buttons>button {
    font-size: 20px;
}

.wedding-planning-buttons>button:first-child {
    background-color: white;
    color: black;
    border: none;
}

.wedding-planning-buttons>button:last-child {
    border: 1px solid white;
}

.wedding-planning-outside {
    gap: 20px;
    position: relative;
    top: -66px;
}

.wedding-planning-outside__block {
    width: 384px;
    height: 172px;
    /* перевести в ем */
    background-color: white;
    color: black;
    border-radius: 20px;
}

.wedding-planning-outside__block>img {
    margin: 25px 0 10px 0;
    height: 42px;
}

.wedding-planning-outside__block>p {
    font-size: 20px;
    text-align: center;
    max-width: 225px;
}

.about-us {
    background-image: url('img/background-about-us.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 214px;
    padding-bottom: 313px;
}

.about-us>h2 {
    text-align: center;
    margin-bottom: 120px;
}

.about-us__blocks {
    gap: 48px;
}

.about-us__blocks>div {
    gap: 48px;
}

.about-us__blocks>div>div {
    width: 409px;
    height: 298px;
    border-radius: 20px;
    background-repeat: no-repeat;
    text-align: center;
    border: 1px solid white;
}

.about-us__blocks>div>div>p {
    max-width: 250px;
    font-size: 20px;
}

.about-us__blocks>div>div>p:first-child {
    font-size: 64px;
    font-weight: 700;
}

.about-us__blocks>div:nth-child(3)>div>h2 {
    margin-bottom: 30px;
    max-width: 385px;
}

.about-us__blocks>div:nth-child(3)>div>p {
    margin-top: 20px;
    max-width: 385px;
}

.about-us__blocks>div:nth-child(3)>div>button {
    margin-top: 36px;
    border-color: white;
    height: 55px;
}

.about-us__blocks>div:first-child>div:nth-child(1) {
    background-image: url('img/background-about-us__first.svg');
    background-size: cover;
}

.about-us__blocks>div:first-child>div:nth-child(2) {
    background-image: url('img/background-about-us__second.svg');
    background-size: cover;
}

.about-us__blocks>div:nth-child(2)>div:nth-child(1) {
    background-image: url('img/background-about-us__third.svg');
    background-size: cover;
}

.about-us__blocks>div:nth-child(2)>div:nth-child(2) {
    background-image: url('img/background-about-us__foutrh.svg');
    background-size: cover;
}

.about-us__blocks>div:nth-child(3)>div:nth-child(1) {
    background-image: url('img/background-about-us__fifth.svg');
    background-size: cover;
    width: 520px;
    height: 646px;
    text-align: left;
    padding-left: 136px;
}

.feedback-form {
    background: linear-gradient(to bottom, #009CDF 0%, #003A53 100%);
    padding-top: 152px;
}

.feedback-form>h1 {
    text-align: center;
    text-transform: uppercase;
    max-width: 1330px;
}

.feedback-form>p {
    text-align: center;
    font-size: 20px;
    max-width: 790px;
    padding-top: 49px;
    padding-bottom: 111px;
}

.feedback-form>form {
    gap: 81px;
    margin-bottom: 102px;
}

.feedback-form>form>input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 20px;
    padding-bottom: 15px;
    color: #A3A3A3;
    width: 405px;
}

.feedback-form>form>input::placeholder {
    color: #A3A3A3;
    font-size: 20px;
}

.feedback-form>form>button {
    border-color: white;
    height: 65px;
    font-size: 22px;
    margin-left: 10px;
}

.indispensable {
    padding-top: 242px;
    background-image: url('img/background-indispensable.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 234px;

}

.indispensable-border {
    padding-top: 65px;
    padding-bottom: 53px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0 calc((100% - 1330px) / 2);
}

.indispensable-border>h2 {
    text-align: center;
}

.indispensable-blocks {
    margin-top: 63px;
    gap: 20px;
}

/* Почему-то first-child не работает, поэтому использую first-of-type */
/* Выяснил. first-child прокатит, если убирать Img. Буквально first-child
смотрит все дочерние элементы и считает первый(по сути img первый, поэтому стиль
не применяется, т.к. ищем p, а по факту img первый,
 а first-of-type буквально "первый из предложенных" в данном случае p.
Т.е. он ищет дочерние p, а после выбирает среди них */
.indispensable-blocks>div>p:first-of-type {
    font-size: 20px;
    margin-top: 46px;
    margin-bottom: 21px;
}

.indispensable-blocks>div>p:last-of-type {
    text-align: center;
    max-width: 250px;
}

footer {
    background-image: url('img/background-footer.svg');
    background-size: cover;
    border-top: 1px solid white;
    padding-top: 55px;
    padding-bottom: 25px;
}

.footer-links {
    gap: 80px;
    font-size: 20px;
}

.footer-top>button {
    font-size: 20px;
}

footer>p {
    max-width: 385px;
    margin-top: 16px;
    margin-bottom: 65px;
}

.footer-hiden {
    display: none;
}

footer>p,
.footer-bottom>p:first-child,
.footer-bottom>p:last-child {
    font-size: 14px;
}

.footer-bottom>p:nth-child(2) {
    color: #009CDF;
    font-size: 24px;
}


/* auth.html */
.auth {
    border: 1px solid white;
    max-width: 556px;
}

.close-button {
    margin: 20px 20px 13px 0;
    justify-content: flex-end;
}

.auth-block>p {
    font-size: 24px;
    margin: 0 53px;
    font-weight: 700;
}

.auth-block>form {
    margin: 50px 53px 23px 53px;
    gap: 26px;
}

.auth-block>form>input {
    padding-left: 19px;
}

.auth-block>form>input {
    font-size: 16px;
    width: 431px;
    height: 55px;
    border: none;
}

.auth-block>form>button {
    width: 450px;
    height: 55px;
    border: none;
    background: linear-gradient(to bottom, #009CDF 0%, #09003E 100%);
    border-radius: 0;
}

.remember {
    gap: 1em;
}

.remember>input {
    width: 26px;
    height: 24px;
}

.remember-and-forgot {
    margin: 0 53px;
}

.down-button {
    gap: 1em;
    margin: 98px 0 32px 0;
}

/* services.html */
.services {
    background-image: url('img/background-services.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services>h2 {
    padding-top: 125px;
    margin-bottom: 110px;
    text-align: center;
}

.services-blocks {
    padding: 0 calc((100% - 1330px) / 2);
    gap: 41px;
    padding-bottom: 280px;
}

.services-block {
    display: grid;
    grid-template-columns: 22% 78%;
    padding: 36px 43px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services-blocks>.services-block:nth-child(1) {
    background-image: url('img/background-catering.svg');
    width: 558px;
    height: 228px;
}

.services-block>.services-block-border:nth-child(1) {
    border-top: 2px solid white;
    border-left: 2px solid white;
    position: relative;
}

.services-block>.services-block-border:nth-child(2) {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.services-block-border>p {
    position: absolute;
    bottom: -7px;
    left: 18px;
}

.services-blocks>.services-block:nth-child(2) {
    background-image: url('img/background-ceremonies.svg');
    width: 558px;
    height: 228px;
}

.services-blocks>.services-block:nth-child(3) {
    background-image: url('img/background-suits.svg');
    width: 515px;
    height: 348px;
}

.services-blocks>.services-block:nth-child(4) {
    background-image: url('img/background-organization.svg');
    width: 600px;
    height: 348px;
}

.services-blocks>.services-block:nth-child(5) {
    background-image: url('img/background-photozone.svg');
    width: 100%;
    height: 228px;
    grid-template-columns: 34% 66%;
}

.expectations {
    width: 100%;
}

.left-block {
    flex: 1;
    overflow: hidden;
    border: 1px solid white;
}

.left-block img {
    max-height: 100%;
    object-fit: cover;
}

.right-block {
    flex: 1;
    background-image: url('img/background-expectations.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 107px 50px 84px 155px;
    border: 1px solid white;
}

.right-block h2 {
    font-size: 40px;
    margin-bottom: 45px;
}

.right-block p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 520px;
}

.right-block button {
    border: none;
    background: linear-gradient(to right, #009CDF 0%, #025D85 100%);
    margin-top: 60px;
    height: 65px;
}

.care {
    padding-top: 243px;
    padding-bottom: 269px;
    background-image: url('img/background-care.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.care-border {
    margin: 0 calc((100% - 1330px) / 2);
    padding-top: 74px;
    border-top: 1px solid white;
    gap: 63px;
}

.care-border img {
    width: 750px;
    height: 584px;
}

.care__right-content {
    max-width: 517px;
    position: relative;
    left: 135px;
}

.care__right-content h1 {
    margin-top: 43px;
    margin-bottom: 21px;
}

.care__right-content p {
    margin-top: 25px;
    font-size: 20px;
}

.care__right-content button {
    background: linear-gradient(to right, #009CDF 0%, #025D85 100%);
    margin-top: 57px;
    height: 65px;
    border: none;
}

.care__left-hint {
    background: linear-gradient(to right, #003A53 0%, #009CDF 100%);
    border-radius: 0 20px 20px 0;
    padding: 25px 135px 25px 86px;
    width: 639px;
    position: relative;
    top: -117px;
}

.care__left-hint p {
    max-width: 460px;
}

/* portfolio.html */
.portfolio {
    margin-top: 125px;
    margin-bottom: 247px;
    text-align: center;
}

.portfolio-block {
    background: url('img/background-portfolio.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio-block:first-of-type {
    padding-top: 153px;
}

.portfolio-block:nth-of-type(2),
.portfolio-block:nth-of-type(3) {
    padding-top: 280px;
}

.portfolio-block__photos,
.portfolio-block__photos>div,
.portfolio-block__photos>div>div {
    gap: 20px;
    border-radius: 20px;
}

.portfolio-footer {
    align-items: baseline;
    margin-top: 62px;
    padding-bottom: 128px;
    border-bottom: 1px solid white;
}

.portfolio-footer p:first-child {
    font-size: 32px;
}

.portfolio-footer p:last-of-type {
    font-size: 18px;
}

.portfolio-footer a {
    font-size: 22px;
}

.portfolio-mob {
    display: none;
}















@media (max-width: 1650px) {
    .container {
        padding: 0 calc((100% - 1200px) / 2);
    }

    header {
        padding: 0 calc((100% - 1000px) / 2);
    }

    .about-us__blocks {
        justify-content: space-around;
    }

    .wedding-planning-inside {
        height: 459px;
    }

    .wedding-planning-inside__container {
        padding: 50px 0px 0px 95px;
    }

    .wedding-planning-outside {
        top: -36px;
    }

    .wedding-planning-outside__block {
        width: 300px;
        height: 120px;
    }

    .wedding-planning-outside__block>img {
        margin: 15px 0 5px 0;
    }

    .indispensable-border {
        margin: 0 calc((100% - 1000px) / 2);
    }

    .services-blocks {
        padding: 0 calc((100% - 890px) / 2);
        padding-bottom: 280px;
    }

    .services-block {
        grid-template-columns: 38% 62%;
    }

    .services-blocks>.services-block:not(:last-child) {
        width: 338px;
        height: 228px;
    }

    .services-blocks>.services-block:last-child {
        grid-template-columns: 28% 72%;
    }

    .care-border {
        margin: 0 calc((100% - 1200px) / 2);
    }

    .care__right-content {
        position: static;
    }

    .care__right-content h1 {
        margin-top: 20px;
    }

    .care__right-content button {
        margin-top: 25px;
    }

    .care__left-hint {
        width: 460px;
    }

    /* portfolio.html */
    .portfolio-block__photos,
    .portfolio-block__photos>div,
    .portfolio-block__photos>div>div {
        gap: 15px;
    }

    .portfolio-block__photos>div>div:nth-child(2)>div img {
        height: 199px;
    }

    .portfolio-block__photos>div>div:nth-child(1)>div img {
        height: 223px;
    }

    .portfolio-block__photos>div:first-child img:first-of-type {
        height: 436px;
    }

}

@media (max-width: 1260px) {
    header {
        padding: 0 calc((100% - 700px) / 2);
    }

    .container {
        padding: 0 calc((100% - 890px) / 2);
    }

    .wedding-planning-inside__container {
        padding: 10px 0px 0px 30px;
    }

    .wedding-planning-inside__container>p {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .wedding-planning-buttons {
        gap: 30px;
    }

    .wedding-planning-outside__block {
        width: 250px;
    }

    .wedding-planning-inside {
        height: 340px;
    }

    .wedding-planning-outside {
        top: -16px;
    }

    .feedback-form>form {
        max-width: 891px;
    }

    .feedback-form>h1 {
        max-width: 891px;
    }

    .feedback-form>form>button {
        margin-left: 0;
    }

    .indispensable-border {
        margin: 0 calc((100% - 870px) / 2);
    }

    .footer-links {
        gap: 20px;
    }

    .care-border {
        flex-direction: column;
        align-items: center;
        margin: 0 calc((100% - 800px) / 2);
        gap: 134px;
    }

    .care__left-hint {
        top: -700px;
    }

    .portfolio-block__photos {
        gap: 26px;
    }

    .portfolio-block__photos>div {
        gap: 11px;
    }

    .portfolio-block__photos>div>div {
        gap: 26px;
    }

    .portfolio-block__photos>div>div:nth-child(2)>div img {
        height: 143px;
    }

    .portfolio-block__photos>div>div:nth-child(1)>div img {
        height: 161px;
    }

    .portfolio-block__photos>div:first-child img:first-of-type {
        height: 313px;
    }
}

@media (max-width: 900px) {
    header {
        padding: 0 calc((100% - 350px) / 2);

    }

    .header-top {
        padding: 22px 0;
    }

    .header-bottom,
    .header-top>a,
    .header-top>p,
    .header-top>a>button {
        display: none;
        /* Скрываем элементы шапки при ширине менее 900px */
    }

    .burger-menu {
        display: flex;
        margin-left: auto;
        /* Показываем бургер-меню */
    }

    #menu-toggle:checked~.dropdown-menu {
        display: flex;
        /* Показываем выпадающее меню при активном состоянии чекбокса */
        gap: 16px;
    }

    #menu-toggle:checked+.burger-menu .line:nth-child(1) {
        width: 25px;
        transform: rotate(45deg);
        /* Первая линия поворачивается на 45 градусов */
        margin-top: 0;
        /* Убираем отступ между первой и второй линией */
        margin-bottom: 0;
        /* Убираем отступ между первой и второй линией */
    }

    #menu-toggle:checked+.burger-menu .line:nth-child(2) {
        opacity: 0;
        /* Вторая линия исчезает */
        height: 0;
        /* Убираем высоту второй линии для лучшего эффекта */
        margin: 0;
        /* Убираем отступы у второй линии */
    }

    #menu-toggle:checked+.burger-menu .line:nth-child(3) {
        width: 25px;
        transform: rotate(-45deg);
        /* Третья линия поворачивается на -45 градусов */
        margin-top: 0;
        /* Убираем отступ между третьей и второй линией */
        margin-bottom: 0;
        /* Убираем отступ между третьей и второй линией */
    }

    .block-social {
        height: 16px;
        gap: 16px;
    }

    .icon-social {
        height: 16px
    }

    .logo {
        margin-left: 73px;
        margin-right: 137px;
        width: 38px;
        height: 36px;
    }

    button {
        border-radius: 10px;
    }

    .container {
        padding: 0 calc((100% - 350px) / 2);
    }

    .welcome {
        align-items: flex-start;
        background-size: contain;
        background-position: bottom;
        height: 505px;
    }

    .welcome>div {
        margin-top: 43px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome>div>h1 {
        text-align: center;
        font-size: 30px;
    }

    .welcome>div>p {
        font-size: 14px;
        margin: 20px 0 35px 0px;
        text-align: center;
    }

    .welcome>div>button {
        width: 122px;
        height: 26px;
        font-size: 10px;
    }

    .wedding-planning {
        margin-top: 66px;
    }

    .wedding-planning-inside {
        background-image: url('img/background-wedding-planning-small.svg');
        display: flex;
        justify-content: center;
        height: 293px;
    }

    .wedding-planning-inside__container {
        padding: 52px 0 0 0;
        max-width: 256px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wedding-planning-inside__container>h1 {
        font-size: 22px;
        width: min-content;
        text-align: center;
    }

    .wedding-planning-inside__container>p {
        font-size: 14px;
        text-align: center;
        width: 200px;
    }

    .wedding-planning-buttons>button {
        width: 122px;
        height: 26px;
        font-size: 10px;
        gap: 12px;
    }

    .wedding-planning-outside {
        flex-direction: column;
        align-items: center;
    }

    .wedding-planning-outside__block {
        width: 200px;
        height: 90px;
        align-items: center;
    }

    .wedding-planning-outside__block>p {
        font-size: 16px;
        max-width: 182px;
    }

    .wedding-planning-outside__block>img {
        margin: 11px 0 13px 0;
        height: 15px;
    }

    .about-us {
        background-image: url('img/background-about-us-small.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: containt;
        padding-top: 126px;
        padding-bottom: 163px;
    }

    .about-us>h2 {
        font-size: 28px;
        margin-bottom: 73px;
    }

    .about-us__blocks,
    .about-us__blocks>div {
        gap: 40px;
    }

    .about-us__blocks>div>div {
        width: 350px;
        height: 215px;
    }

    .about-us__blocks>div>div>p:first-child {
        font-size: 36px;
    }

    .about-us__blocks>div>div>p:last-child {
        font-size: 16px;
    }

    .about-us__blocks>div:nth-child(3)>div:nth-child(1) {
        width: 291px;
        height: 516px;
        padding: 67px 0 39px 60px;
    }

    .about-us__blocks>div:nth-child(3)>div:nth-child(1)>h2 {
        font-size: 24px;
        margin-bottom: 14px;
    }

    .about-us__blocks>div:nth-child(3)>div:nth-child(1)>p {
        font-size: 16px;
        max-width: 205px;
        margin-top: 10px;
    }

    .about-us__blocks>div:nth-child(3)>div:nth-child(1)>button {
        width: 215px;
        height: 36px;
        font-size: 15px;
        margin-top: 46px;
    }

    .feedback-form>h1 {
        font-size: 24px;
        width: 340px;
    }

    .feedback-form>p {
        width: 307px;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 128px;
    }

    .feedback-form>form {
        gap: 63px;
    }

    .feedback-form>form>input {
        width: 350px;
        font-size: 14px;
    }

    .feedback-form>form>input::placeholder {
        font-size: 14px;
    }

    .feedback-form>form>button {
        width: 167px;
        height: 37px;
        font-size: 14px;
    }

    .indispensable {
        padding-top: 177px;
        background-image: url('img/background-indispensable-small.svg');
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 136px;
    }

    .indispensable-border {
        margin: 0 calc((100% - 350px) / 2);
    }

    .indispensable-border {
        padding-top: 27px;
        padding-bottom: 48px;
    }

    .indispensable-border>h2 {
        font-size: 28px;
    }

    .indispensable-blocks {
        margin-top: 65px;
        flex-direction: column;
        gap: 77px;
    }

    .indispensable-blocks>div>img {
        width: 64px;
        height: 68px;
    }

    .indispensable-blocks>div>p:first-of-type {
        font-size: 16px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .indispensable-blocks>div>p:last-of-type {
        font-size: 14px;
        max-width: 250px;
    }

    footer {
        padding-top: 28px;
        padding-bottom: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('img/background-footer-small.svg');
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-top>img {
        width: 46px;
        height: 43px;
    }

    .footer-links {
        display: none;
    }

    .footer-bottom {
        padding: 10px;
        margin-top: 37px;
    }

    footer>p {
        display: none;
    }

    .footer-hiden {
        font-size: 13px;
        margin-top: 11px;
        display: block;
    }

    .footer-top>button {
        width: 130px;
        height: 35px;
        font-size: 12px;
        margin-top: 31px;
    }

    .footer-bottom>p:first-child,
    .footer-bottom>p:last-child {
        font-size: 8px;
    }

    .footer-bottom>p:nth-child(2) {
        font-size: 12px;
    }

    /* services.html */
    .services {
        background: url('img/background-services-small.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .services h2 {
        font-size: 28px;
        padding-top: 61px;
        margin-bottom: 57px;
    }

    .services-blocks {
        padding: 0 calc((100% - 350px) / 2);
        padding-bottom: 143px;
        gap: 18px;
    }

    .services-block {
        grid-template-columns: 38% 62%;
        padding: 19px;
    }

    .services-block-border>p {
        bottom: -5px;
        left: 4px;
        font-size: 12px;
    }

    .services-blocks>.services-block:not(:last-child) {
        width: 128px;
        height: 121px;
        grid-template-columns: 60% 40%;
    }

    .services-blocks>.services-block:nth-child(1) {
        background-image: url('img/background-catering-small.svg');
    }

    .services-blocks>.services-block:nth-child(2) {
        background-image: url('img/background-ceremonies-small.svg');
    }

    .services-blocks>.services-block:nth-child(3) {
        background-image: url('img/background-suits-small.svg');
    }

    .services-blocks>.services-block:nth-child(4) {
        background-image: url('img/background-organization-small.svg');
    }

    .services-blocks>.services-block:last-child {
        grid-template-columns: 28% 72%;
        height: 121px;
        background-image: url('img/background-photozone-small.svg');
    }


    .left-block {
        display: none;
    }

    .right-block {
        padding: 0 calc((100% - 350px) / 2);
        padding-top: 67px;
        padding-bottom: 80px;
    }

    .right-block h2 {
        font-size: 28px;
        margin-bottom: 33px;
    }

    .right-block p {
        font-size: 16px;
        margin-bottom: 27px;
        max-width: 350px;
        text-align: left;
    }

    .right-block button {
        border: none;
        margin-top: 15px;
        width: 170px;
        height: 41px;
        font-size: 14px;
    }

    .care {
        padding-top: 90px;
        padding-bottom: 42px;
        background-image: url('img/background-care-small.svg');
    }

    .care-border {
        margin: 0 calc((100% - 350px) / 2);
        padding-top: 51px;
        gap: 110px;
    }

    .care-border img {
        width: 350px;
        height: 100%;
    }

    .care__right-content h1 {
        margin-top: 0;
        font-size: 28px;
    }

    .care__right-content p {
        margin-top: 18px;
        font-size: 16px;
    }

    .care__right-content button {
        font-size: 14px;
        width: 170px;
        height: 41px;
    }

    .care__left-hint {
        padding: 10px 0;
        width: 100%;
        border-radius: 0;
        top: -540px;
    }

    .care__left-hint p {
        font-size: 14px;
        margin: 0 calc((100% - 350px) / 2);
    }

    .portfolio {
        display: none;
    }

    .portfolio-block__photos>div:first-child img:first-of-type {
        height: 175px;
    }


    .portfolio-mob {
        display: block;
        text-align: center;
        padding-bottom: 162px;
    }

    .portfolio-mob h2 {
        font-size: 28px;
        margin-top: 61px;
    }

    .portfolio-block {
        background-image: url('img/background-portfolio-small.svg');
    }

    .portfolio-block:nth-of-type(2), .portfolio-block:nth-of-type(3) {
        padding-top: 93px;
    }

    .portfolio-block__photos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    
    .portfolio-block:first-of-type {
        padding-top: 117px;
    }

    .portfolio-block__photos>div {
        border-radius: 10px;
        overflow: hidden;
        height: 175px;
    }

    .portfolio-block__photos>div img {
        width: 170px;
        height: 175px;
        object-fit: cover;
    }

    .portfolio-block__photos>div:last-of-type {
        grid-column: span 2;
    }

    .portfolio-block__photos>div:last-of-type img {
        width: 350px;
    }

    .portfolio-footer{
        margin-top: 30px;
        display: grid;
        gap: 29px;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    .portfolio-footer p:first-child {
        font-size: 16px;
        grid-row: 1;
        text-align: start;
    }
    .portfolio-footer p:last-of-type {
        grid-row: 1;
        font-size: 12px;
        text-align: end;
    }
    .portfolio-footer a{
        grid-column: 2;
        font-size: 16px;
        text-align: end;
    }
}